.header {
  background-color: #111052;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;

  .left {
    display: flex;

    .logo {
      width: 167px;
      margin-right: 24px;
    }

    .country {
      position: relative;

      .default {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
          width: 23.02px;
          margin-right: 9px;
        }

        .label {
          color: #ffffff;
          font-family: "Montserrat", sans-serif;
          font-size: 14px;
          font-weight: 600;
        }
      }

      .list {
        position: absolute;
        background-color: #ffffff;
        z-index: 1;
        width: 230px;
        border: 1px solid #0000001a;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
          rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        font-family: "Montserrat", sans-serif;

        &.hidden {
          display: none;
        }

        .title {
          font-weight: 600;
          font-size: 16px;
          margin: 15px 0px 15px 17px;
        }

        .countries {
          .item {
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            cursor: pointer;
            padding-left: 17px;

            img {
              width: 28px;
            }

            .name {
              margin-left: 11px;
              font-size: 12px;
              font-weight: 500;
              color: #79919c;
            }
          }
        }
      }
    }
  }

  .right {
    display: flex;

    .setting {
      display: flex;
      align-items: center;

      img {
        width: 25px;
        margin-right: 9px;
      }

      .label {
        color: #ffffff;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 600;
        margin-right: 22px;
      }

      &:last-child {
        img {
          margin-right: 0px;
        }
      }
    }
  }
}
