.footer {
  background-color: #111052;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px 0 19px;

  .copyright {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 9px;
    font-weight: 500;
    width: 560px;
    line-height: 15px;
    margin: 7px 0 8px 0;
  }

  .secure {
    display: flex;
    align-items: center;

    img {
      width: 66.17px;
    }
  }
}
