@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.widget {
  // width: 931px;
  width: 80%;
  margin: auto;

  .hidden {
    display: none;
  }
}
