.content {
  display: flex;
  border-left: 1px solid #0000001f;
  border-right: 1px solid #0000001f;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  .payment {
    width: 665px;
    padding: 20px 26px 0px 24px;

    &-info {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #1169ff4d;
      font-family: "Montserrat", sans-serif;
      color: #070c11;
      padding-bottom: 12px;

      .title {
        font-size: 20px;
        font-weight: 600;
        margin-right: 16px;
      }

      .game {
        margin-left: 12px;

        .name {
          font-weight: 600;
          font-size: 14px;
        }

        .company {
          display: flex;

          .name {
            font-weight: 400;
            font-size: 12px;
          }

          .verify {
            margin-left: 16px;
            display: flex;

            .text {
              margin-left: 8px;
              font-size: 12px;
              font-weight: 400;
              color: #1169ff;
            }
          }
        }

        .rating {
          display: flex;
          flex-direction: row;

          .text {
            margin-left: 10px;
            font-weight: 600;
            font-size: 12px;
          }
        }
      }
    }

    &-method {
      font-family: "Montserrat", sans-serif;
      color: #070c11;
      margin-top: 17px;

      .title {
        font-size: 21px;
        font-weight: 600;
      }

      .list {
        margin-top: 17px;
        display: flex;
        min-height: 101px;

        .item {
          margin: 0 8px;

          .logo {
            width: 110px;
            height: 72px;
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            border: 1px solid #f2f7ff;
            border-radius: 4px;
            box-shadow: 0px 5px 12px rgba(94, 104, 123, 0.2);
            cursor: pointer;

            img {
              width: 80%;
              margin: auto;
            }
          }

          .selected {
            box-shadow: 0px 5px 12px rgba(42, 245, 214, 0.4);
          }

          .title {
            font-size: 12px;
            font-weight: 400;
            text-align: center;
          }

          &:first-child {
            margin-left: 0px;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .card {
      font-family: "Montserrat", sans-serif;
      color: #070c11;
      margin-top: 17px;

      .title {
        margin-bottom: 17px;
        font-size: 21px;
        font-weight: 600;
      }

      .form {
        .item {
          margin: 10px 0;
        }

        .row {
          display: flex;

          .col {
            width: 30%;

            .input {
              width: 90%;
            }

            &:last-child {
              margin-left: 6%;

              .input {
                width: 80%;
              }
            }
          }
        }

        .input {
          width: 60%;
          height: 52px;
          padding-left: 16px;
          font-size: 16px;
          font-weight: 400;
          border-radius: 5px;
          border: 1px solid #c8d4ea;

          ::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #68879a;
            opacity: 1; /* Firefox */
          }

          :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #68879a;
          }

          ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #68879a;
          }

          &.default {
            border-color: #c8d4ea;
          }

          &.valid {
            border-color: #23c5ac;
          }

          &.invalid {
            border-color: #ff0000;

            ::placeholder {
              /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: #ff0000;
              opacity: 1; /* Firefox */
            }

            :-ms-input-placeholder {
              /* Internet Explorer 10-11 */
              color: #ff0000;
            }

            ::-ms-input-placeholder {
              /* Microsoft Edge */
              color: #ff0000;
            }
          }
        }

        .error {
          font-size: 12px;
          height: 15px;

          &.show {
            color: #ff0000;
          }

          &.hide {
            color: #ffffff;
          }
        }

        .action {
          .pay {
            cursor: pointer;
            width: 63%;
            height: 50px;
            background-color: #2af5d6;
            border: 1px solid #2af5d6;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 700;

            &:disabled {
              color: #9c9ea0;
              cursor: not-allowed;
            }
          }
        }
      }

      .term {
        margin-top: 16px;
        font-size: 12px;
        line-height: 20px;
      }
    }

    &-success {
      text-align: center;
      margin-top: 57px;
      font-family: "Montserrat", sans-serif;
      color: #070c11;

      .title {
        margin-top: 21px;
        margin-bottom: 28px;
        font-size: 21px;
        font-weight: 600;
      }

      .info {
        display: flex;
        justify-content: space-between;
        width: 412px;
        margin: 0px auto 13px auto;

        &.account {
          border-top: 1px solid #070c11;
          padding-top: 13px;
        }

        .text {
          font-size: 14px;
          font-weight: 400;
        }
      }

      .action {
        margin-top: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .download {
          width: 346px;
          height: 50px;
          text-align: center;
          background-color: #2af5d6;
          border: 1px solid #2af5d6;
          border-radius: 5px;
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 16px;
          cursor: pointer;
        }

        .link {
          color: #1169ff;
          font-size: 12px;
          font-weight: 600;
          text-decoration: none;
        }

        .question {
          margin-top: 85px;
          font-size: 12px;
          font-weight: 400;

          a {
            color: #070c11;
          }
        }
      }
    }
  }

  .order {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #070c11;
    width: 230px;
    border-left: 1px solid #0000001f;
    padding: 19px 27px 16px 26px;
    box-shadow: rgba(17, 12, 46, 0.15) -7px 0px 100px 0px;

    .title {
      margin: 19px 0px 16px 0px;
      font-weight: 600;
    }

    .info {
      border-top: 1px solid #1169ff4d;
      padding: 16px 0 14px 0;
      font-weight: 500;
      line-height: 22px;
    }

    .price {
      border-top: 1px solid #1169ff4d;
      border-bottom: 1px solid #1169ff4d;
      padding-top: 15px;
      padding-bottom: 12px;

      .row {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 400;

        &:last-child {
          margin-top: 18px;
        }
      }
    }

    .total {
      text-align: end;
      margin-top: 17px;
      font-weight: 700;

      .label {
        font-weight: 400;
        margin-bottom: 15px;
      }
    }

    .scan {
      margin-top: 146px;
      text-align: center;

      .label {
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
      }

      img {
        width: 189px;
      }

      .instruction {
        font-size: 12px;
        font-weight: 600;
        color: #1e41ff;
      }
    }
  }
}
